<h1>This is Consultations#new</h1>

<%= simple_form_for :search, url: new_consultation_path, method: :get do |f| %>
  <%= f.input :date, as: :datetime %>
  <%= f.submit "Search" %>
<% end %>

<% if @available_doctors.nil? || @available_doctors.empty?%>
  <p>No doctor available at this moment</p>
<% else %>
  <% @available_doctors.each do |availability| %>
    <p><%= availability.doctor.first_name %></p>
  <% end %>
<% end %>





