<div id="hero">
  <%= image_tag "work.jpg", :class => "hero-bg"%>
  <div class="hero">
    <div class="hero-404">
      <h1><center>Des professionnels de santés</center></h1>
    </div>
    <h2>A votre écoute bénévolement pendant cette periode de confinement</h2>
    <form class="hero-search">
      <input type="text" placeholder="Search...">
      <button type="button">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <h2><center>Le confinement vous rend:</center></h2>
  <div class="row" id="about">
    <div class="col-lg-4 col-md-6">
      <h4><a href="#">Vous rends anxieux ?</a></h4></br>
      <p>Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.</p>
    </div>
    <div class="col-lg-4 col-md-6">
      <h4><a href="#">Vous avez peur ?</a></h4></br>
      <p>Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.</p>
    </div>
    <div class="col-lg-4 col-md-6">
      <h4><a href="#">La solitude vous effraye ?</a></h4></br>
      <p>Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.</p>
    </div>
  </div>
</div>
