$mainColor: #3188B9;
$lightGrey: #ECEEF3;
$mainBackground: #f8f8f8;

$patientColor: #C2D77E;
$pairColor: #EEB139;
$docColor: #8FC0DB;
$infoColor: #DE5858;

$mainTextColor: #414653;
$mainTextColor30: rgba(65, 70, 83, 0.3);
$lineColor: $mainTextColor30;
$strongLineColor: $mainTextColor;

$blueTextColor: #3E8BB5;
$disabledTextColor: #9EA5B6;

//--------------
$boxShadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
$borderRadius: 6px;