// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img {
  width: 100%;
  height: auto;
  padding-bottom: 1.5vw;

}

.container > h2 {
  padding-top: 12vw;
}


.container > h2 .contact {
  padding-top: 8vw;
}

h4 > a {
  color:rgba(66,84,94,.86);
  padding-bottom: 1.5vw;
  // decoration: none;
}

h4 > a:hover {
  color:rgba(66,84,94,.86);
  padding-bottom: 1.5vw;
  text-decoration: none !important;
}
.container > #about > .col-lg-4, .col-md-6 {
  padding-right: 3vw;
}

.container > #services > .col-lg-6, .col-md-8 {
  padding-right: 4vw;
  padding-bottom: 4vw;
}

.container > #contact > .col-lg-6, .col-md-8 {
  padding-right: 4vw;
  padding-bottom: 4vw;
}

.container > h2 > center {
  padding-bottom: 4vw;
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#hero {
  position: relative;
  height: 100vh;
}

#hero .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-image: image-url('./app/assets/images/bg.jpg');
  background-size: cover;
}

#hero .hero-bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

#hero .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  color:white;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#hero .hero:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  width: 100%;
  height: 600px;
  // background-color: rgba(255, 255, 255, 0.7);
  // -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.7) inset;
  //         box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.7) inset;
  z-index: -1;
}

.hero {
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding: 30px;
  line-height: 1.4;
}

.hero .hero-404 {
  position: relative;
  height: 200px;
}

.hero .hero-404 h1 {
  // font-family: 'Passion One', cursive;
  position: absolute;
  left: 25%;
  top: 7%;
  // -webkit-transform: translate(-50%, -50%);
  //     -ms-transform: translate(-50%, -50%);
  //         transform: translate(-50%, -50%);
  // font-size: 220px;
  // margin: 0px;
  // color: #222225;
  // text-transform: uppercase;
}

.hero h2 {
  font-family: 'Muli', sans-serif;
  font-size: 26px;
  font-weight: 400;
  // text-transform: uppercase;
  color: white;
  margin-top: -110px;
  margin-bottom: 20px;
}

.hero-search {
  position: relative;
  padding-right: 120px;
  max-width: 420px;
  width: 100%;
  margin: 30px auto 20px;
}

.hero-search input {
  font-family: 'Muli', sans-serif;
  width: 100%;
  height: 40px;
  padding: 3px 15px;
  // color: #fff;
  font-weight: 400;
  font-size: 18px;
  // background: #222225;
  border: none;
}

.hero-search button {
  font-family: 'Muli', sans-serif;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: none;
  background: #ff00b4;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.hero a {
  font-family: 'Muli', sans-serif;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  color: #222225;
  text-transform: uppercase;
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  .hero .hero-404 {
    height: 146px;
  }

  .hero .hero-404 h1 {
    font-size: 146px;
  }

  .hero h2 {
    font-size: 22px;
  }
}
